<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- PropertyInfoMapper.xml文件 --><mapper namespace="com.liveeeasy.web.absorption.demo.spider.beike.dao.BeiKeEstateDao">    <insert id="batchInsert">        INSERT INTO estate_beike(            id,            building_name,            shopping,            area,            total_number_of_building        )        <foreach collection="maps" item="element" open="VALUES" separator=",">            (                REPLACE(UUID(),'-',''),                #{element.building_name},                #{element.shopping},                #{element.area},                #{element.total_number_of_building}            )        </foreach>    </insert></mapper>